@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.box{
    position: relative;
    top: 100px;
    left: 950px;
    right: 200px;
    }

.container{
    position: relative;
    width:400px;
    min-height:400px ;
    background:rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#dycalendar{

    width: 100%;
    padding: 20px;

}
#dycalendar table{
    width: 100px;
    margin-top: 48px;
    border-spacing:5px ;
}
#bycalendar table tr:nth-child(1) td{
    background:#fff;
    color:#111;
    border-radius: 4px;
    font-weight: 600;
}
#dycalendar table td{
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius:4px;
}
#dycalendar table td:hover{
    background: #fff;
    color:#111 !important;
 }

.dycalendar-month-container .dycalendar-today-date,.dycalendar-month-container .dycalendar-target-date{

    background: #fff;
    color:#111 !important;
 }
 .dycalendar-month-container .dycalendar-header .dycalendar-prev-next-bth.prev-btn{
    background: #fff;
    color:#111;
    width: 44px;
    height: 30px;
    left: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;




 }
 .dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn {
    position : absolute;
    top : 0;
    cursor : pointer;
    background: #fff;
    color:#111;
    width: 44px;
    height: 30px;
    right: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;

}
 .dycalendar-month-container .dycalendar-span-month-year{
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;


 }